@use "../util/" as *;

.recipe {
  &__destaque {
    color: var(--wenge-brown);

    border-bottom: 2px solid var(--light-grey);
    padding-bottom: rem(32);
    margin-bottom: rem(35);

    h3 {
      color: var(--nutmeg);
      font-family: var(--font-young);
      font-weight: 400;
      letter-spacing: 1.1px;
      font-size: 24px;
    }

    ul,
    ol {
      margin: 0;
      padding-left: rem(24);
    }

    li {
      line-height: 2rem;
      padding-left: rem(8);

      @include breakpoint(medium) {
        padding-left: rem(16);
      }

      span {
        font-weight: 700;
      }
    }

    li::marker {
      color: var(--nutmeg);
      font-weight: 700;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }

    tr {
      line-height: 42px;
    }

    tr:last-child > td {
      border: 0;
    }

    td {
      border-bottom: 2px solid var(--light-grey);
    }

    td:first-child {
      // padding-left: rem(24);
    }

    td:last-child {
      color: var(--nutmeg);
      font-weight: 700;
    }
  }

  &__destaque:last-child {
    border-bottom: 0;
    margin: 0;
  }
}
